@model FaturaYonetimSistemi.Shared.Dtos.DaireDtos.InsertDaireDto


<div class="col-md-12">
    <div asp-validation-summary="All"></div>
    <form class="w-50 mx-auto" asp-action="Add" asp-controller="Daire" enctype="multipart/form-data">

        <div class="form-group">
            <label>Blok ID</label>
            <span asp-validation-for="Blokid"></span>
            <input type="text" class="form-control" value="" asp-for="Blokid" />
        </div>

        <div class="form-group">
            <label>Daire No</label>
            <span asp-validation-for="DaireNo"></span>
            <input type="text" class="form-control" value="" asp-for="DaireNo" />
        </div>

        <div class="form-group">
            <label>Kat</label>
            <span asp-validation-for="Kat"></span>
            <input type="text" class="form-control" value="" asp-for="Kat" />
        </div>

        <div class="form-group">
            <label>Tipi</label>
            <span asp-validation-for="Tipi"></span>
            <input type="text" class="form-control" asp-for="Tipi" />
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" asp-for="BosMu" />
            <label>Boş Mu?</label>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" asp-for="SahibiMi" />
            <label>Konut Sahibi Mi?</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" asp-for="AktifMi" />
            <label>Aktif Mi?</label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Ekle</button>
            <button type="reset" class="btn btn-danger">Temizle</button>
        </div>
    </form>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>